.container {
  padding: 0;
}

.main {
  padding: 4rem 6vw;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 6vw;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}



.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1rem;
}
